@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  position: relative;
}

.sec-space {
  padding: 1.5rem 0;
}
.extra-space {
  padding-top: 6rem;
}
.obj-width {
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: #1f2937;
  font-size: 26px;
  font-weight: 600;
  line-height: 60px;
}
h2 {
  color: #1f2937;
  font-size: 22px;
  font-weight: 600;
  line-height: 60px;
}
h3 {
  color: #1f2937;
  font-size: 18px;
  font-weight: 500;
}
h4 {
  color: #1f2937;
  font-size: 16px;
  font-weight: 500;
}

p {
  color: #374151;
}

hr {
  height: 1px;
  border: none;
  background-color: #ccc;
  margin-bottom: 16px;
}

/* List  */

.custom-list {
  margin-left: 20px;
  margin-bottom: 10px;
}

.publication-list {
  display: flex;
}

/* Buttons */

#show-more {
  padding-top: 1rem;
}

#g-btn {
  text-decoration: none;
  background: #3b49df;
  color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
}

#kid-btn {
  text-decoration: none;
  background: #ffee05;
  color: #222 !important;
  font-weight: 600 !important;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* Professor's Profile  */

.professor-profile {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.professor-profile .professor-image {
  margin-top: 1.4rem;
  width: 240px;
  height: 240px;
  background-color: #2d7ea8;
}

.professor-profile .professor-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
}

.professor-profile .professor-info {
  width: 75%;
}

.professor-profile .social-links {
  margin-top: 20px;
}

.professor-profile .social-links a {
  list-style: none;
  color: #222;
  font-size: 22px;
  margin-right: 16px;
}

/* Research Page */

.research-overview {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.research-overview .image {
  width: 40%;
}

.research-overview .body {
  width: 55%;
}

.research-project {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
}

.research-project .research-thumbnail {
  width: 27%;
  height: 200px;
  background-color: #2d7ea8;
}

.research-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
}

.research-project .body {
  width: 70%;
}

.research-project .body a {
  margin-right: 16px;
}

/* Members */

.member-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.member-card .photo {
  width: 180px;
  height: 180px;
  background-color: #2d7ea8;
}

.member-card .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
}

.member-card .body {
  width: 80%;
}

/* footer */

.footer {
  background: #1b2b85;
  color: #fff;
  padding: 4rem 0;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .logo {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
}

.top i {
  color: #fff;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  line-height: 35px;
  font-size: 1.1rem;
}

#key {
  font-size: 0.8rem;
  background: #ffc710;
  padding: 10px 20px;
  border-radius: 20px;
}

#keywords {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

#keywords li {
  color: #fff;
  background: #2d7ea8;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Start Media Query */

@media (max-width: 1300px) {
  .sec-space {
    padding: 1.5rem 0;
  }
  .extra-space {
    padding-top: 6rem;
  }
  .obj-width {
    max-width: 90%;
  }
}

@media (max-width: 999px) {
  /* Research Page */

  .research-overview {
    flex-direction: column;
    justify-content: space-between;
  }

  .research-overview .image {
    width: 100%;
  }

  .research-overview .body {
    width: 100%;
  }

  /* Professor's Profile */

  .professor-profile .professor-info {
    width: 65%;
  }

  /* Members */

  .member-card .body {
    width: 70%;
  }
}

@media (max-width: 530px) {
  /* Professor's Profile */
  .professor-profile {
    flex-direction: column;
  }

  .professor-profile .professor-info {
    width: 100%;
  }

  /* Members */

  .member-card {
    flex-direction: column;
  }

  .member-card .photo {
    width: 140px;
    height: 140px;
  }

  .member-card .body {
    width: 100%;
  }
}
